doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='/javascripts/vendors/jquery.min.js')
    script(src='/javascripts/vendors/popper.min.js')  
    script(src='/javascripts/vendors/bootstrap.min.js')    
    script(src='/javascripts/vendors/jquery-1.12.4.js')
    script(src='/javascripts/vendors/jquery-ui.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/test.css')
    link(rel='stylesheet', href='/stylesheets/demo.css')
    link(rel='stylesheet', href='/stylesheets/animate-custom.css')
    script(src='/javascripts/show.js')
    script(src='/javascripts/getData.js')    
  body
    block content
