doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/javascripts/vendors/jquery.min.js')
    script(src='/javascripts/vendors/bootstrap.min.js')
    script(src='/javascripts/show.js')
    script(src='/javascripts/getData.js') 
  body
    block content

    