extends ../../layout

block content
  .container
    .table-wrapper
      .table-title
        .row
          .col-sm-6
            h2
              | 
              b  Users 
          .col-sm-6.right
            a(href='/admin/users/new') New Users          
      table.table.table-striped.table-hover
        thead
          tr
            th Name
            th Email
            th User Name
            th Password
            th Team
            th Role
            th Edit
            th Delete
        tbody
          each user in users
            tr
              td  
                = user.name
              td
                = user.email
              td
                = user.username
              td
                = user.password
              td
                = user.Profile == undefined ? 'Admin' : user.Profile.Team.name
              td
                = user.Profile == undefined ? 'Admin' : user.Profile.Role.name
              td
                a(href='/admin/users/edit/' + user.id) Edit
              td
                a(href='/admin/users/' + user.id + '?_method=DELETE') Delete  