extends ../../layout

block content
  .container
    .table-wrapper
      .table-title
        .row
          .col-sm-6
            h2
              | 
              b  Users 
          .col-sm-6.right
            a(href='') New Users          
      table.table.table-striped.table-hover
        thead
          tr
            th Name
            th Email
            th User Name
            th Password
            th Team
            th Role
            th Edit
            th Delete
        tbody
            tr
              td  
              td
