extends ../../layout

block content
  .container
    .table-wrapper
      .table-title
        .row
          .col-sm-6
            h2
              | 
              b  Users 
          .col-sm-6.right
<<<<<<< HEAD
            a(href='/admin/users/new') New Users          
=======
            a(href='') New Users          
>>>>>>> b4fb5fba9ade64a3e3eadbcaeb994319aa78ad2c
      table.table.table-striped.table-hover
        thead
          tr
            th Name
            th Email
            th User Name
            th Password
            th Team
            th Role
            th Edit
            th Delete
        tbody
            tr
              td  
              td
<<<<<<< HEAD
                = user.Profile == undefined ? 'Admin' : user.Profile.Role.name
              td
                a(href='/admin/users/edit/' + user.id) Edit
              td
                a(href='/admin/users/' + user.id + '?_method=DELETE') Delete  
=======
>>>>>>> b4fb5fba9ade64a3e3eadbcaeb994319aa78ad2c
