extends ../layout

block content
  .row#accordianpanel
    .col-sm-6.support
      #accordion.panel-group
          .panel.panel-default.template
            .panel-heading
              h4.panel-title
                if activitydata != null
                  a.accordion-toggle.accordion-title.panelarrow(data-toggle='collapse', data-parent='#accordion', href='#collapse1')  1. #{activitydata}
                else
                  a.accordion-toggle.accordion-title.panelarrow(data-toggle='collapse', data-parent='#accordion', href='#collapse1') 1.Activity, Release Date, Remarks 
            #collapse1.panel-collapse.collapse
              .panel-body
                form(action='/users/insert' method='POST', class='myForm1')
                  .row
                    .col-xs-4
                      label.label-style(for='fullname') Activity 
                    .form-group.col-lg-6
                      input#activity.form-control(type='text', name='activity', placeholder='Activity', required='', value='')
                    .hint
                      i.hint-icon i
                      p.hint-description Activity
                  .row
                    .col-xs-4
                      label.label-style(for='Release Date') Release Date
                    .form-group.col-lg-6
                      #datetimepicker1.input-group.date
                        input.form-control( type='text',placeholder='Release Date' )
                        span.input-group-addon
                          span.glyphicon.glyphicon-calendar
                    .hint
                      i.hint-icon i
                      p.hint-description Release date
                  .row
                    .col-xs-4
                      label.label-style(for='remarks') Remarks
                    .form-group.col-lg-6
                      textarea#remarks.form-control(name='remarks', row='5', placeholder='Remarks', required='', , value='')
                    .hint
                      i.hint-icon i
                      p.hint-description Give your remarks 
                  .row
                    .col-md-12.text-center
                      input.btn.btn-info(type='submit', value='Submit')
                      | 
                      input.btn.btn-warning(type='reset', value='Reset')      
    .col-sm-4
      button.btn.btn-primary.btn-add-panel#add
        i.glyphicon.glyphicon-plus
        |  New

      