extends ../test

block content
  .row
    .col-sm-12.nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Project name
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Home
            li
              a(href='#about') About
            li
              a(href='#contact') Contact
          ul.nav.navbar-nav.navbar-right
            if !user
              li
                a(href='/users/login')
                  span.glyphicon.glyphicon-log-in 
                  |  Login
            else
              li
                a(href='/users/logout')
                  span.glyphicon.glyphicon-log-out 
                  | Logout
  .row
    ul.nav.nav-tabs
      li.nav-item
        a.nav-link.active(href='#') Active
      li.nav-item
        a.nav-link(href='#') Link
      li.nav-item
        a.nav-link(href='#') Link
      li.nav-item
        a.nav-link.disabled(href='#') Disabled