extends ../layout

block content
  .container
    .table-wrapper
      .table-title
        .row
          .col-sm-6
            h2
              | 
              b  Overview
      table.table.table-striped.table-hover
        thead
          tr
            th Team
            th Activity
            th Release Date
            th Remarks
        tbody
          tr
            td  
              a.goto(href='/users/filldetails') Analytics
            td xyz
            td 09/19/2018 12:20 AM
            td Completed     
                
    